/* FONTS */
/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('/fonts/raleway-v26-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('/fonts/raleway-v26-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-800 - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: local(''),
		url('/fonts/raleway-v26-latin-800.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('/fonts/raleway-v26-latin-800.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
}

button {
	border: none;
	color: #fff;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	outline: none;
	flex: 1;
	cursor: pointer;
}

.sr-only {
	display: none;
}